<div>
	<form class="form-control-group" fxLayout="column" fxLayoutAlign="center" fxFlex.md="30" fxFlexOffset.md="35" fxFlexOffset ="15" fxFlex="70">
		<h3 class="text-center" *ngIf="error">{{error}}</h3>
  		<mat-form-field class="form-control">
  		<input [(ngModel)]="login.email" name="email" matInput placeholder="Email" required>
  		</mat-form-field>

	
  		<mat-form-field class="form-control">
  		<input [(ngModel)]="login.password" name="password" matInput placeholder="Password" type="password" required>
  		</mat-form-field>
	
	  	<button class="btn btn-outline-primary" (click)="playerSignIn()">Sign In</button>
	  	<p>or</p>
	  	<button class="btn btn-outline-primary" (click)="playerRegister()">Register</button>
	</form>
</div>
