<body>
<!-- Stage 1 of character creation -->
<div *ngIf="pcCreateStage==='pcStage1'" fxLayout="row">
    <div fxFlex="50" fxFlexOffset="25" >
    <h3 class="text-center heading">CREATE A NEW CHARACTER</h3>
    <h4 class="text-center"><a href routerLink="/player">Cancel New Character</a></h4>
    
    <form class="selection">
        <mat-form-field class="form-control">
            <label class="emphasis">CHARACTER NAME</label>
            <input matInput type="text" [(ngModel)]="character.name" name="name"/>
        </mat-form-field>
        
        <mat-form-field class="form-control">
            <label class="emphasis">SPECIES</label>
            <mat-select [(ngModel)]="character.race_id" (ngModelChange)='raceChange($event)' name="race">
                <mat-option *ngFor="let race of allRaces" [value] ="race.id">{{race.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="form-control">
            <label class="emphasis">CAREER</label>
            <mat-select [(ngModel)]="character.career_id" (ngModelChange)='careerChange($event)' name="career">
                <mat-option *ngFor="let career of allCareers" [value]="career.id">{{career.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="careerSpecializations" class="form-control">
            <label class="emphasis">SPECIALIZATION</label>
            <mat-select [(ngModel)]="character.spec_id" name="specialization">
                <mat-option *ngFor="let spec of careerSpecializations" [value]="spec.id">{{spec.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button class="btn btn-default" (click)="pcStage2()">Save {{character.name}}</button>

        <div *ngIf="raceDetails">
        <h3 class="text-center heading">CHARACTER PREVIEW</h3>
        <p class="text-center">{{raceDetails.description}}</p>
        
        <table class="table-bordered table table-condensed" id="character-stats-preview">
            <tr>
                <td class="emphasis">Brawn</td>
                <td>{{raceDetails.brawn}}</td>
                <td class="emphasis">Agility</td>
                <td>{{raceDetails.agility}}</td>
            </tr>
            
            <tr>
                <td class="emphasis">Intellect</td>
                <td>{{raceDetails.intellect}}</td>
                <td class="emphasis">Presence</td>
                <td>{{raceDetails.presence}}</td>
            </tr>
            
            <tr>
                <td class="emphasis">Willpower</td>
                <td>{{raceDetails.willpower}}</td>
                <td class="emphasis">Cunning</td>
                <td>{{raceDetails.cunning}}</td>
            </tr>
        </table>
        </div>
    </form>
    </div>
    
    <div *ngIf="raceDetails">
   		<img [src]='raceDetails.avatar' id="avatar-preview">
    </div>
</div>

<!-- Stage 2 of character creation -->
<div *ngIf="pcCreateStage === 'pcStage2'" fxLayout="row">
    <div fxFlex="50" fxFlexOffset="25">
    <h3 class="text-center heading">{{newPc.name}}</h3>
    
    <h4 class="text-center emphasis">Select 4 skills to increase rank for free</h4>
    <table id="skills" class="table selection">
        <thead>
            <tr>
                <th id="skill">Skill</th>
                <th id="attribute">Attribute</th>
                <th class="text-right" id="rank">Rank</th>
                <th class="text-right">Increase</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let skill of newPcCareerSkills; index as i" >
                <td>{{skill.name}}</td>
                <td>{{skill.attrib}}</td>
                <td class="text-right">{{skill.rank}}</td>
                <td *ngIf="careerSkillChoices > 0"><button class="button btn-increase" (click)="increaseCareerSkillRank(i,skill.id,false)">+</button></td>
            </tr>
        </tbody>
    </table>
    
    <h4 class="text-center">You have {{careerSkillChoices}} left</h4>
    
    <h4 class="text-center emphasis">Select 2 skills to increase rank for free</h4>
    <table id="skills" class="table selection">
        <thead>
            <tr>
                <th id="skill">Skill</th>
                <th id="attribute">Attribute</th>
                <th class="text-right">Increase</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let skill of newPcCareerSpecializationSkills; index as i" >
                <td>{{skill.name}}</td>
                <td>{{skill.attrib}}</td>
                <td *ngIf="specSkillChoices > 0"><button class="button btn-increase" (click)="increaseSpecializationSkillRank(i,skill.id,false)">+</button></td>
            </tr>
        </tbody>
    </table>
    
    <h4 class="text-center">You have {{specSkillChoices}} left</h4>
    
    <button class="btn btn-outline-primary" *ngIf="careerSkillChoices === 0 && specSkillChoices === 0" (click)="pcStage3()">Continue</button>
    </div>
</div>

<!-- Stage 3 of character creation -->
<div *ngIf="pcCreateStage === 'pcStage3'" fxLayout="row">
    <div fxFlex="50" fxFlexOffset="25">
    <table id="attributes" class="table selection">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Score</th>
                <th>Cost</th>
                <th class="text-right">Increase</th>
            </tr>
        </thead>    
        
        <tbody>
            <tr>
                <td>Agility</td>
                <td>{{newPc.agility}}</td>
                <td>{{(newPc.agility + 1) * 10}}</td>
                <td><button (click)="increaseAttribute('agility')" *ngIf="newPc.xp >= (newPc.agility + 1) * 10 && newPc.agility < 5" class="button btn-increase">+</button></td>
            </tr>
            <tr>
                <td>Brawn</td>
                <td>{{newPc.brawn}}</td>
                <td>{{(newPc.brawn + 1) * 10}}</td>
                <td><button (click)="increaseAttribute('brawn')" *ngIf="newPc.xp >= (newPc.brawn + 1) * 10 && newPc.brawn < 5" class="button btn-increase">+</button></td>
            </tr>
            <tr>
                <td>Cunning</td>
                <td>{{newPc.cunning}}</td>
                <td>{{(newPc.cunning + 1) * 10}}</td>
                <td><button (click)="increaseAttribute('cunning')" *ngIf="newPc.xp >= (newPc.cunning + 1) * 10 && newPc.cunning < 5" class="button btn-increase">+</button></td>
            </tr>
            <tr>
                <td>Intellect</td>
                <td>{{newPc.intellect}}</td>
                <td>{{(newPc.intellect + 1) * 10}}</td>
                <td><button (click)="increaseAttribute('intellect')" *ngIf="newPc.xp >= (newPc.intellect + 1) * 10 && newPc.intellect < 5" class="button btn-increase">+</button></td>
            </tr>
            <tr>
                <td>Presence</td>
                <td>{{newPc.presence}}</td>
                <td>{{(newPc.presence + 1) * 10}}</td>
                <td><button (click)="increaseAttribute('presence')" *ngIf="newPc.xp >= (newPc.presence + 1) * 10 && newPc.presence < 5" class="button btn-increase">+</button></td>
            </tr>
            <tr>
                <td>Willpower</td>
                <td>{{newPc.willpower}}</td>
                <td>{{(newPc.willpower + 1) * 10}}</td>
                <td><button (click)="increaseAttribute('willpower')" *ngIf="newPc.xp >= (newPc.willpower + 1) * 10 && newPc.willpower < 5" class="button btn-increase">+</button></td>
            </tr>
        </tbody>
    </table>
    
    <table id="skills" class="table selection">
        <thead>
            <tr>
                <th id="skill">Skill</th>
                <th id="attribute">Attribute</th>
                <th id="rank">Rank</th>
                <th id="career">Career</th>
                <th id="cost">Cost</th>
                <th class="text-right">Increase</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let skill of newPc.skills" >
                <td>{{skill.name}}</td>
                <td>{{skill.attrib}}</td>
                <td class="text-right">{{skill.rank}}</td>
                    <td *ngIf="skill.career == true">*</td>
                    <td *ngIf="skill.career == false"></td>
                    <td *ngIf="skill.career == true">{{(skill.rank + 1) * 5}}</td>
                    <td *ngIf="skill.career == false">{{((skill.rank +1) * 5) + 5}}</td>
                    <td *ngIf="skill.career == true"><button (click)="increaseSkillRank(skill.id, true)" *ngIf="newPc.xp >= (skill.rank + 1) * 5 && skill.rank < 2" class="button btn-increase">+</button></td>
                    <td *ngIf="skill.career == false"><button (click)="increaseSkillRank(skill.id, true)" *ngIf="newPc.xp >= ((skill.rank + 1) * 5) + 5 && skill.rank < 2" class="button btn-increase">+</button></td>
            </tr>
        </tbody>
    </table>
    <h5 class="emphasize text-center">Remaining XP {{newPc.xp}}</h5>
    <button class="btn btn-outline-primary" (click)="pcFinalize()">Finish</button>
</div>
</div>
</body>