<div *ngIf='gmPrivs == false'>
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	<h3 style="text-align:center">Checking for GM Privs</h3>
</div>

<div *ngIf='gmPrivs == true'>
	<mat-progress-bar *ngIf="loading < 100" mode="determinate" [value]="loading"></mat-progress-bar>
	<button mat-button color="warn" [matMenuTriggerFor]="pcs">Player Characters</button>
	<mat-menu #pcs="matMenu">
		<button color="accent" mat-button (click)="setDisplay('viewEditPcs')">List Characters</button>
	</mat-menu>

	<button mat-button color="warn" [matMenuTriggerFor]="npcs">NPCs</button>
	<mat-menu #npcs="matMenu">
		<div mat-menu-item>
			<button color="accent" mat-button>Minion Groups</button>
		</div>
		<div mat-menu-item>
			<button color="accent" mat-button>Grunts</button>
		</div>
		<div mat-menu-item>
			<button color="accent" mat-button>Nemesis</button>
		</div>
	</mat-menu>

	<button mat-button color="warn" [matMenuTriggerFor]="gear">Gear</button>
	<mat-menu #gear="matMenu">
		<div mat-menu-item>
			<button color="accent" mat-button (click)="setDisplay('viewEditWeapons')">Weapons</button>
		</div>
		<div mat-menu-item>
			<button color="accent" mat-button (click)="setDisplay('viewEditArmor')">Armor</button>
		</div>
		<div mat-menu-item>
			<button color="accent" mat-button (click)="setDisplay('viewEditItems')">Items</button>
		</div>
	</mat-menu>

	<button mat-button color="warn" (click)="logOut()" style="float:right">Log Out</button>
	<app-gm-view-edit-pcs *ngIf="gmService.display === 'viewEditPcs'"></app-gm-view-edit-pcs>
	<app-gm-view-weapons *ngIf="gmService.display === 'viewEditWeapons'"></app-gm-view-weapons>
	<app-gm-view-armor *ngIf="gmService.display === 'viewEditArmor'"></app-gm-view-armor>
	<app-gm-view-items *ngIf="gmService.display === 'viewEditItems'"></app-gm-view-items>
</div>