/* You can add global styles to this file, and also import other style files */
body
{
	//background-color: rgba(234, 235, 236, 1);
}

.character-heading
{
    color: rgb(169, 69, 68);
    font-family: 'Biryani', sans-serif;
}

.emp-color
{
    color: rgb(160, 60, 68);
    font-weight: bold;
}

.character-section
{
    background-color: white;
    border-bottom: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    width: 100%;
    margin: 5px;
}

.character-overview-section
{
    width: 45%;
    float: left;
}

img.nav-header
{
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	border: solid 1px silver;
	border-radius: 5px;
}

img.nav-item
{
	width: 100%;
	margin-bottom: 5px;
	border: solid 1px silver;
	border-radius: 10px;
}

img.main-nav
{
  width: 100%;
}

img.pc-nav
{
	width: 100%;
}

img.gm-button
{
	width: 98%;
	margin-bottom: 5px;
	border-radius: 3px;
	margin-left: 1%;
	margin-right: 1%;
}

.add-button
{
	width: 100%;
	height: 32px;
	background-image: image_url('../assets/add_button_bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	color: black;
	font-size: 20px;
}
.horizontal-line
{
	width: 100%
}

.circle-add, .circle-delete
{
	width: 32px;
	height: 32px;
}

.circle-add-sm, .circle-delete-sm
{
    width: 16px;
    height: 16px;
}

.table-margin
{
	margin: 0px;
}

div.main-nav-small
{
  margin-top: 10px;
}

div#enter
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

section#gm-content2
{
	background-color: rgba(20,10,10,0.90);
}

div#player
{
	min-width: 320px;
}

form#pc-sign-in
{
	width: 40%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

form#editplayer
{
	width: 40%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

div#characterselected
{
	//width: 80%;
	//margin-left: 10%;
	//margin-right: 10%;
	width: 100%;
    margin-top: 50px;
}

div#characterselect img
{
	width: 100%;
}

img.character-avatar
{
	width: 10%;
	min-width: 100px;
	float: left;
	margin: 10px;
}

img#avatar-preview
{
  width: 100%;
  margin: 10px;
}

table#character-stats-preview
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 10px;
}

table#skills
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 11px;
}

table#attributes
{
	min-width: 320px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 11px;
}

th#career
{
	width: 10%;
}

th#skill
{
	width: 60%;
}

th#attribute
{
	width: 25%;
}

th#rank
{
	width: 5%;
}

td#skill-rank
{
	width: 5%;
}

td.table-rank
{
	width: 5%;
	border-right: 1px solid black;
}

.btn-increase
{
	color: green;
	border: solid 1px green;
	border-radius: 10px;
	background-color: greenyellow;
	float: right;
}

.btn-remove
{
	border: solid 1px red;
	border-radius: 10px;
	background-color: red;
	//font-size: 10px;
	font-weight: bold;
}

.select_character
{
	border: solid 1px rgb(179,3,3);
}

p
{
	font-family: 'Source Sans Pro', sans-serif;
}

ul#character-nav
{
  background-color: tan;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-width: 320px;
  height: 50px;
}

ul#character-nav li
{
	font-family: 'Kalam', cursive;
	font-size: 35px;
  list-style: none;
  float: left;
  width: 25%;
  height: 20px;
  padding: 0px;
  margin: 0px;
}

ul#character-nav li a
{
	text-decoration: none;
	color: black;
}

ul#character-nav li a:hover
{
	text-decoration: none;
	color: blue;
}

img.dice
{
	height: 20px;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

div#character_skills
{
	max-height: 600px;
	overflow-y: scroll;
}

div#character_overview p
{
	font-family: 'Rock Salt', cursive;
	font-size: 12px;
}

.gm-all-pcs
{
	width: 18%;
	float: left;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	background-color: white;
	padding: 5px;
}

td.rank input.ng-dirty
{
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	font-weight: bold;
	background-color: rgb(54, 255, 48);
}

table#pc_attributes
{
	margin-top: 20px;
}

table#pc_attributes input.ng-dirty
{
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	font-weight: bold;
	background-color: rgb(54, 255, 48);
}

ul#gm_pc_update
{
	width: 100%;
	height: 30px;
	list-style: none;
	
}

ul#gm_pc_update li
{
	float: left;
	padding: 10px;
	text-align: center;
}

.margin-zero
{
  margin: 0px;
}

#game_session
{
	color: gold;
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
}

.session_pcs
{
  border: 1px solid black;
}

.session_avatar
{
  width: 100%;
}

.manage_pcs
{
 -webkit-transition:0.5s linear all;
 transition:0.5s linear all;
 opacity:1;

}

.manage_pcs.ng-hide
{
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

tr.all_pcs.ng-leave
{
	-webkit-transition:0.25s linear all;
	transition:0.25s linear all;
	opacity:1;
}
tr.all_pcs.ng-leave.ng-leave-active
{
	opacity:0;
}

.border-bottom
{
	border-bottom: 1px solid black;
}

#admin_nav
{
	list-style: none;
}