<div fxLayout="row">
	<mat-sidenav-container autosize>
		<mat-sidenav mode="side" opened>
			<button mat-button (click)="createNewWeapon()">New Weapon</button>
			<div *ngFor='let weapon of allWeapons'><button mat-button (click)="setWeapon(weapon)">{{weapon.name}}</button></div>
		</mat-sidenav>

		<mat-sidenav-content>
			<div *ngIf="weapon != null">
				<div fxLayout="row" class="margin-1">
					<a *ngIf="edit" mat-raised-button color="primary" (click)="updateWeapon()">SAVE UPDATES</a>
					<a *ngIf="new" mat-raised-button color="primary" (click)="saveNewWeapon()">SAVE NEW WEAPON</a>
					<a mat-raised-button color="primary">CANCEL</a>
					<a *ngIf="edit" mat-raised-button color="warn">DELETE WEAPON</a>
					<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
				</div>

				<div fxLayout="row" class="margin-1">
					<form class="width-50">
						<mat-form-field class="width-100">
							<label class="emphasis">Weapon Name</label>
							<input matInput type="text" [(ngModel)]="weapon.name" name="name">
						</mat-form-field>

						<mat-form-field class="width-100">
							<label class="emphasis">Skill</label>
							<mat-select [(ngModel)]="weapon.skill_id" name="skill" required>
								<mat-option [value]="30">Brawl</mat-option>
								<mat-option [value]="31">Gunnery</mat-option>
								<mat-option [value]="32">Melee</mat-option>
								<mat-option [value]="33">Ranged - Light</mat-option>
								<mat-option [value]="34">Ranged - Heavy</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field class="width-100">
							<label class="emphasis">Damage</label>
							<input matInput type="number" [(ngModel)]="weapon.damage" name="damage">
						</mat-form-field>

						<mat-form-field class="width-100">
							<label class="emphasis">critical</label>
							<input matInput type="number" [(ngModel)]="weapon.critical" name="critical">
						</mat-form-field>

						<mat-form-field class="width-100">
							<label class="emphasis">Range</label>
							<mat-select [(ngModel)]="weapon.range" name="range">
								<mat-option value="Melee">Melee</mat-option>
								<mat-option value="Short">Short</mat-option>
								<mat-option value="Medium">Medium</mat-option>
								<mat-option value="Long">Long</mat-option>
								<mat-option value="Extreme">Extreme</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field class="width-100">
							<label class="emphasis">Price</label>
							<input matInput type="number" [(ngModel)]="weapon.price" name="price">
						</mat-form-field>

						<mat-form-field class="width-100">
							<label class="emphasis">Specials</label>
							<textarea matInput [(ngModel)]="weapon.special" name="special" rows=3></textarea>
						</mat-form-field>

						<mat-form-field class="width-100">
							<label class="emphasis">Description</label>
							<textarea matInput [(ngModel)]="weapon.description" name="description" rows=5></textarea>
						</mat-form-field>
					</form>
				</div>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
